/* Custom CSS for Eilman's So Far */

/* Styling the links for the navigation bar */
.hoverable {
    position: relative;
    display: inline-block;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.3s;
}

.nav-link.hoverable {
    color: white; /* Change link color to make it visible */
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.nav-link.hoverable::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 5%;
    width: 90%;
    height: 10px;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    transition: transform 0.3s, opacity 0.3s;
}

.nav-link.hoverable:hover {
    transform: translateY(-5px);
}

.nav-link.hoverable:hover::before {
    opacity: 1;
    transform: translateY(-5px);
}

@keyframes bounce-animation {
    16.65% {
        transform: translateY(8px);
    }
    33.3% {
        transform: translateY(-6px);
    }
    49.95% {
        transform: translateY(4px);
    }
    66.6% {
        transform: translateY(-2px);
    }
    83.25% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(0);
    }
}

.bounce {
    animation: bounce-animation 2s infinite;
}

/* Bootstrap adjustments */

/* Center the navbar items */
.navbar {
    display: flex;
    justify-content: center;
}

/* Override Bootstrap's container-fluid */
.container-fluid {
    padding: 0;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    padding: 0.5rem 1rem;
}

/* Other styles */
/*
body {
    font-family: Helvetica;
    background-color: rgb(0, 0, 1)
}

.table-container {
    padding-top: 50px;
}

table {
    font-weight: 10;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    color: #181818;
    background-color: #b4b4b4;
    border: 1px solid #181818;
}

td {
    border: 1px solid #181818;
    background-color: #ddd;
}

h1 {
    text-align: center;
    color: #ddd;
}

img {
    text-align: center;
    height: 150px; 
    width: 130px; 
}
*/

/* Styles for the image within the #profile-img element */
.profile-img img{
    text-align: center; /* Center the profile image */
    border-radius: 50%; /* Apply a circular border */
    height: 150px; 
    width: 130px;
}

.profile-img img {
    display: block; /* Set the image to a block level */
    margin: 0 auto; /* Center the image horizontally */
}